AzureCommunicationCommon/AzureCommunicationCommon.xcodeproj/project.xcworkspace/xcuserdata/nancyp.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
AzureCommunicationCommon/AzureCommunicationCommon.xcodeproj/project.xcworkspace/xcuserdata/nancyp.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
AzureCommunicationCommon/.DS_Store
AzureCommunicationCommon/AzureCommunicationCommon.xcodeproj/project.xcworkspace/xcuserdata/nancyp.xcuserdatad/UserInterfaceState.xcuserstate
